@model List<Pizza>

@if (Model.Count() == 0)
{
    <h2>Purtoppo non hai nessuna pizza disponibile!!!</h2>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">NOME</th>
                <th scope="col">DESCRIZIONE</th>
                <th scope="col">IMMAGINE</th>
                <th scope="col">PREZZO</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Pizza pizza in Model)
            {
                <tr>
                    <th scope="row">@pizza.Name</th>
                    <td>@pizza.Description</td>
                    <td><img alt="@pizza.Name" src="@pizza.Image" style="width:300px; height:250px"></td>
                    <td>@pizza.Price</td>
                    <td>
                        <a href="@Url.Action("Detail",new {id = pizza.Id})">
                            <button type="button" class="btn ">VISUALIZZA</button>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}